@page "/counter"
@using System.Threading;
@inject BlazorApp.Data.CounterState CounterState

<h1 style="color:@_color">Counter</h1>

<p>Current count: @CounterState.Count</p>

<button class="btn btn-primary" @onclick="this.IncrementCount">Click me</button>

<!-- Auto Count Up onclickボタン -->
<button class="btn btn-secondary" @onclick="this.AutoIncrement">Auto Increment</button>

@code {

    [CascadingParameter(Name = "ThemeColor")]
    string _color { get; set; }

    private void IncrementCount()
    {
        CounterState.Count = CounterState.Count + 1;
    }

    /// <summary>
    /// Auto Count Up
    /// </summary>
    void AutoIncrement()
    {
        var timer = new Timer(x =>
        {
            InvokeAsync(() =>
            {
                this.IncrementCount();

                // Bindingは自動的に100%改新されるわけではない
                StateHasChanged();
            });
        }, null, 1000, 1000);
    }
}
